/*****************************
06 - Page - Contact
*****************************/

#map iframe {
	width: 100%;
	border: none;
	height: 600px;
	@include breakpoint(small) {
		height: 400px;
	}
	@include breakpoint(xsmall) {
		height: 340px;
	}
}
