/*****************************
08 - Component - Banner
*****************************/
.banner{

    &.m-t-100{
        margin-top: 60px; 

        @include breakpoint(medium){
            margin-top: 80px;
        } 

        @include breakpoint(large){
            margin-top: 100px;
        }
    }

    &--2{
        margin-top: 60px;
        @include breakpoint(medium){
            margin-top: 80px;
        }

        @include breakpoint(large){
            margin-top: 0;
        }

        & .row .col-12 {
            margin-top: 30px;

            &:first-child{
                margin-top: 0;
            }
        }
    }

    & .col-12 > &__box{
        margin-bottom: 30px;
        @include breakpoint(medium){
            margin-bottom: 0px;
        }
    }

    & .col-12:last-child > &__box{
        margin-bottom: 0;
    }

    &__box{
        max-width: 100%;
        overflow: hidden;
        
        &--single{
            margin-left: auto;
            margin-right: auto;
        }

        &--single-text-style-1 .btn{
            left: 50%;
            transform: translateX(-50%);
        }
    }
    
    &__link{display: block;}
    
    &__img{
        width: 100%;
        height: auto;
        object-fit: cover;
        &--size{
            &-xl{
                width: 100%;
                height: 340px;
                @include breakpoint(small){height: 320px;}
                @include breakpoint(medium){height: 340px;}
                @include breakpoint(large){height: 360px;}
                @include breakpoint(xlarge){height: auto;}
            }
        }
    }

    &--btn-1{
        top: 220px;
        @include breakpoint(small){top: 200px;}
        @include breakpoint(medium){top: 200px;}
        @include breakpoint(large){top: 204px;}
        @include breakpoint(xlarge){top: 295px;}
        @include breakpoint(xxlarge){top: 235px;}
    }

    &--btn-2{
        left: 20px;
        @include breakpoint(xlarge){left: 65px}
        bottom: 20px;
        @include breakpoint(small){bottom: 47px;}
        @include breakpoint(medium){bottom: 88px;}
        @include breakpoint(large){bottom: 30px;}
        @include breakpoint(xlarge){bottom: 40px;}
        @include breakpoint(xxlarge){bottom: 75px;}
    }

    &--btn-3{
        bottom: 50px;
        @include breakpoint(small){bottom: 60px;}
        @include breakpoint(medium){bottom: 55px;}
        @include breakpoint(large){bottom: 72px;}
        @include breakpoint(xlarge){bottom: 27px;}
        @include breakpoint(xxlarge){bottom: 80px;}
    }

    &--btn-4{
        top: 170px;
        @include breakpoint(small){top: 187px;}
        @include breakpoint(medium){top: 187px;}
        @include breakpoint(large){top: 193px;}
        @include breakpoint(xlarge){top: 220px;}
        @include breakpoint(xxlarge){top: 220px;}
    }

    &--btn-5{
        left: 20px;
        @include breakpoint(xlarge){left: 65px}
        bottom: 100px;
        @include breakpoint(small){bottom: 80px;}
        @include breakpoint(medium){bottom: 95px;}
        @include breakpoint(large){bottom: 105px;}
        @include breakpoint(xlarge){bottom: 195px;}
        @include breakpoint(xxlarge){bottom: 324px;}
    }

    &--btn-6{
        left: 20px;
        @include breakpoint(xlarge){left: 65px}
        bottom: 50px;
        @include breakpoint(small){bottom: 60px;}
        @include breakpoint(medium){bottom: 55px;}
        @include breakpoint(large){bottom: 60px;}
        @include breakpoint(xlarge){bottom: 20px;}
        @include breakpoint(xxlarge){bottom: 40px;}
    }

    // Border Inner Content Position
    &__content{
        padding: 0 20px;
        @include breakpoint(xlarge){padding: 0 60px}
        .btn{z-index: 9;}
       
        &--top{
            top: 100px;
            width: 100%;
        }
        &--center{
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
            
        }
    }

    &__title{
        line-height: 1;
        // Banner Content Font Size
        &--small{
            font-size: 16.666px;

            @include breakpoint(large){
                font-size: 18px;

            }
            @include breakpoint(xlarge){
                font-size: 30px;
            }
        }

        

        &--medium{
            font-size: 22px;

            @include breakpoint(large){
                font-size: 25px;

            }
            @include breakpoint(xlarge){
                font-size: 40px;
            }
        }

        &--large{
            font-size: 33.333px;

            @include breakpoint(large){
                font-size: 37.5px;

            }
            @include breakpoint(xlarge){
                font-size: 60px;
            }
        }
    }

}
