/*****************************
08 - Component - Button
*****************************/

// Button Normal
.btn {
	display: inline-block;
	font-size: 14px;
	outline: none;
	transition: all 0.3s ease;
	border-radius: 0;
	padding: 0;

	&:focus {
		box-shadow: none;
	}

	// Button Style
	&--box {
		display: inline-block;
	}

	&--block {
		display: block;
	}

	&--radius {
		border-radius: 30px;
	}
}

button.btn--block {
	width: 100%;
}
