/*****************************
05 - Component - Button
*****************************/

// Button Normal
.btn{
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    outline: none;
    transition: all .3s ease;
    border-radius: 0;
    padding: 0;

    &:focus{
        box-shadow: none;
    }

    // Button Style
    &--box{
        display: inline-block;
    }

    &--block{
        display: block;
    }

    &--radius{
        border-radius: 30px;
    }

    &--border{
        &-white{
            color: $color-black-1;
            border: 1px solid $color-white-3;

            &:hover{
                color: $color-white;
                background: $color-red;
                border-color: $color-red;
            
            }
        }
        &-blue{
            color: $color-primary;
            border: 2px solid $color-primary;

            &:hover{
                background: $color-primary;
                border-color: $color-primary;
                color: $color-white;
            }
        }
    }

    

    &--submit{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    &--search {
        right: 0;
        width: 60px;
        text-align: center;
        height: auto;
    }

    &--underline{
        padding-bottom: 3px;
        border-bottom: 1px solid;
        &-white{
            color: $color-white;
            
            &:hover{color: $color-red;}
        }
        &-black{
            color: $color-black-1;
            
            &:hover{color: $color-red;}
        }
    }

    // Button Size
    &--large{
        padding: 15px 20px;

        @include breakpoint(medium){padding: 16px 25px;}
        @include breakpoint(large){padding: 17px 35px;}
        @include breakpoint(xlarge){padding: 18px 40px;}
        
    }
    
    &--medium{
        padding: 13px 40px;
    }

    &--small{
        padding: 12px 20px;
        @include breakpoint(medium){padding: 15px 35px;}
    }

    &--tiny{
        padding: 15px 20px;
    }

    // Button Color
    &--blue{
        background: $color-primary;
        color: $color-white;
        
        &:hover{
            background: $color-black-1;
            color: $color-white;
        }
    }
    
    &--white{
        background: $color-white;
        color: $color-black;
        
        &-hover-black{
            &:hover{
                background: $color-black;
                color: $color-white;
            }
            
        }
        &-hover-red{
            &:hover{
                background: $color-red;
                color: $color-white;
            }
        }
        &-hover-orange{
            &:hover{
                background: $color-orange;
                color: $color-white;
            }
        }
        
    }


    &--black{
        background: $color-black-1;
        color: $color-white;
        
        &-hover-white{
            &:hover{
                background: $color-white;
                color: $color-black-1;
            }
            
        }
        &-hover-red{
            &:hover{
                background: $color-red;
                color: $color-white;
            }
        }
        &-hover-orange{
            &:hover{
                background: $color-orange;
                color: $color-white;
            }
        }

        &-hover-golden{
            &:hover{
                background: $color-golden;
                color: $color-white;
            }
        }
    }

    &--gray{
        background: $color-white-3;
        color: $color-black;

        &-hover-red{
            &:hover{
                background: $color-red;
                color: $color-white;
            }
        }

        &-hover-orange{
            &:hover{
                background: $color-orange;
                color: $color-white;
            }
        }

        &-hover-golden{
            &:hover{
                background: $color-golden;
                color: $color-white;
            }
        }
    }

    &--red{
        background: $color-red;
        color: $color-white;

        &-hover-red{
            &:hover{
                background: rgba($color-red, .9);
                color: $color-white;
            }
        }
        &-hover-black{
            &:hover{
                background: rgba($color-black, .9);
                color: $color-white;
            }
        }
    }
    &--orange{
        background: $color-orange;
        color: $color-white;

        &-hover-orange{
            &:hover{
                background: rgba($color-orange, .9);
                color: $color-white;
            }
        }
    }

    &--golden{
        background: $color-golden;
        color: $color-white;

        &-hover-golden{
            &:hover{
                background: rgba($color-golden, .9);
                color: $color-white;
            }
        }
    }

    // Button Text Transform
    &--uppercase{
        text-transform: uppercase;
    }


    &--hover-zoom{
        transform: scale(.8);
        transition: all .3s ease;
    }
}

button.btn--block{
    width: 100%;
}

.link{
    &--gray{
        color: $color-gray;
        text-decoration: none !important;
        font-weight: 600;
        &:hover{
            color: $color-red;
        }
    }

    &--icon-left{
        display: inline-flex;
        align-items: center;
        i{margin-right: 10px;}
    }

    &--icon-right{
        display: inline-flex;
        align-items: center;
        i{margin-left: 10px;}
    }
}

.nametag {
    display: flex;
    span{
        font-weight: 700;
        margin-right: 15px;
    }

   &__list {

       li {
        display: inline-block;
        margin-right: 10px;
    }

       a {
            color: $color-gray-2;
            text-decoration: none !important;
            transition: $transition3ms;


            &:hover{color: $color-red;}
        }
    }
}

.internal-link{
    color: $color-white;
    margin-left: 30px;
    transition: $transition3ms; 
    &:hover{color: $color-orange;}
}
