/*****************************
14 - Component - Pagination
*****************************/
.page-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;

    @include breakpoint(medium){
        margin-top: 80px;
        flex-direction: row;
        align-items: center;
    }
    @include breakpoint(large){
        margin-top: 100px;
    }

    &__list{
        margin-top: 20px;
        @include breakpoint(medium){
            margin-top: 0;
        }
    }

    &__item{
        display: inline-block;
        margin-right: 5px;
        
        &:last-child{
            margin-right: 0;
        }
    }

    &__link{
        display: block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 16px;
        border: 1px solid $color-white-3;
        &:hover,
        &.active{
            border: 1px solid $color-red;
            background: $color-red;
            color: $color-white;
        }
        
    }
}