/*****************************
02 - Base - Color
*****************************/
.gray-bg {
	background-color: $color-secondary;
}

.white-color {
	color: $color-white;
}

.black-color {
	color: $color-black-1;
}

.white-bg {
	background: $color-white;
}
