// Absolute Position Center
@mixin absolute-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// Slider Navigation Vertical Center
@mixin border-around {
	border: 1px solid $color-white-3;
	border-radius: 3px;
}
