/*****************************
03 - Base - Typhography
*****************************/

/*:::::::::: Font Weight :::::::::: */
.font {
	&--light {
		font-weight: 300;
	}

	&--regular {
		font-weight: 400;
	}

	&--semi-bold {
		font-weight: 600;
	}

	&--bold {
		font-weight: 700;
	}
}

/*:::::::::: Title - Font Style ::::::::::*/
.title {
	display: block;
	line-height: 1;

	/*:::::::::: Title - Font Size :::::::::: */
	&--large {
		font-size: 26px;
	}

	&--normal {
		font-size: 18px;
	}

	&--small {
		font-size: 13px;
	}

	//:::::::::: Title - Font Color ::::::::::
	&--black {
		color: $color-black-1;
	}

	&--white {
		color: $color-white;
	}
}
