/*****************************
32 - Layout - Mobile Menu
*****************************/
// mobile header
.offside{
    background: $color-black-1;
    overflow-y: hidden;
    &-button{
        border: none;
        background: transparent;
        font-size: 32px;
        outline: none !important;
    }
}

.offcanvas{
    padding: 40px 20px;

    &--open{
        border: none;
        background: transparent;
        font-size: 32px;
        outline: none !important;
    }

    // OffCanvas Menu
    &-menu li{
        position: relative;
        padding: 5px 5px;
    }

    &-menu > ul > li{
        border-bottom: 1px solid transparent;

        &:last-child{
            border-bottom: none;
        }
    }

    &-menu li a{
        display: block;
        color: $color-white;
        text-decoration: none;
        &:hover{
            color: $color-red;
        }
    }
    &-menu li .sub-menu{
        display: none;
    }

    &__menu-expand{
        &::after{
            content: "\f105";
            position: absolute;
            font-family: 'Font Awesome 5 Free';
            right: 0;           
            transition: all .3s ease;
            transform: rotate(0deg);
            color: $color-white;
        }
    }

    &-menu .active > &__menu-expand,
    .sub-menu > .active &__menu-expand{
         border-bottom: 1px solid #ddd;

        &:last-child{
            border-bottom: none;
        }
        &::after{
            transform: rotate(90deg);
            color: $color-red;
        }
    }


    // OffCanvas User Button

    &-shop-link{
        display: flex;
        justify-content: center;

        a{
            color: $color-white;
            text-decoration: none;
            transition: all .3s ease;
            text-align: center;
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }

            &:hover{
                color:  $color-red;
            }
        }
    }
    
    // Footer Logo
        &__logo{
            margin-bottom: 30px;
            text-align: left;
            @include breakpoint(large){text-align: center;}
            &-img{
                width: 120px;
                height: auto;
            }
        }

        // Footer Address
        &__address{
            text-align: left;
            @include breakpoint(large){text-align: center;}
            &-item{
                margin-bottom: 6px;
                color: $color-gray !important;

                &:last-child{
                    margin-bottom: 0px;
                }

                span{
                    color: $color-primary;
                }

                a{
                    color: $color-gray;
                    &:hover{
                        color: $color-primary;
                    }
                }
            }
        }

        .offcanvas__social-nav{
            display: flex;
            justify-content: center;
            margin-top: 15px;
        }

        .offcanvas__social-list{
            margin-right: 15px;
            &:last-child{margin-right: 0;}
        }

        .offcanvas__social-link{
            transition: $transition3ms;
            color: $color-gray;
            &:hover{color: $color-red;}
        }

}
