/*****************************
08 - Layout - Utilities
*****************************/

/*:::::::::: Margin Top :::::::::: */
.m-t-5 {
	margin-top: 5px;
}
.m-t-10 {
	margin-top: 10px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-t-25 {
	margin-top: 25px;
}

/*:::::::::: Margin bottom :::::::::: */
.m-b-5 {
	margin-bottom: 5px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-b-15 {
	margin-bottom: 15px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.m-b-25 {
	margin-bottom: 25px;
}

/*:::::::::: Margin Left :::::::::: */
.m-l-5 {
	margin-left: 5px;
}
.m-l-10 {
	margin-left: 10px;
}
.m-l-15 {
	margin-left: 15px;
}
.m-l-20 {
	margin-left: 20px;
}
.m-l-25 {
	margin-left: 25px;
}

/*:::::::::: Margin Right :::::::::: */
.m-r-5 {
	margin-right: 5px;
}
.m-r-10 {
	margin-right: 10px;
}
.m-r-15 {
	margin-right: 15px;
}
.m-r-20 {
	margin-right: 20px;
}
.m-r-25 {
	margin-right: 25px;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::
==================== Padding measurement===========
::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*:::::::::: Pargin Top :::::::::: */
.p-t-5 {
	padding-top: 5px;
}

/*:::::::::: Padding bottom :::::::::: */
.p-b-5 {
	padding-bottom: 5px;
}

/*:::::::::: Padding Left :::::::::: */
.p-l-5 {
	padding-left: 5px;
}

/*:::::::::: padding Right :::::::::: */
.p-r-5 {
	padding-right: 5px;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::
==================== Border measurement===========
::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.border-top-1 {
	border-top: 1px solid #ddd;
}
